@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Pacifico&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3, #a18cd1);
  height: 100dvh;
  touch-action: manipulation;
  overflow: hidden;
}

.love-font {
  font-family: 'Pacifico', cursive;
}

.card {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

button {
  transition: all 0.3s ease;
}

#yes-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #22c55e;
}

#no-button {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-out;

  max-width: 90vw;
}

#hearts-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 50;
}